.lk {
	background: #f6f6f6;
}

.lk__main {
	padding: 21px 0 30px;
}

.lk__main-content {
	display: flex;
	flex-direction: column;
}

.lk__main-content-top {
	display: flex;
	flex-direction: column;
}

.lk__main-content-links {
	margin-top: auto;
}

.lk__block {
	padding: 24px;
	border-radius: 16px;
	background: #fff;
}

.lk__menu {
	margin-bottom: 20px;
}

.lk__data,
.lk__security {
	display: flex;
	padding: 0 15px;
	width: 100%;
	flex-direction: column;
}

.lk__security .lk__aside {
	margin-top: 20px;
}

.lk__security-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lk__menu-nav {
	margin-top: 17px;
}

.lk__menu-title {
	font-size: 20px;
	margin-bottom: 20px;
	display: flex;
	gap: 20px;
}

.lk__menu-title::after {
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	margin-right: 60px;
	margin: 5px 0px 0px 0px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.lk__menu-list {
	display: none;
	flex-direction: column;
	gap: 20px;
}

.request__menu-list {
	display: flex;
	gap: 20px;
}

.lk__menu-link,
.request__menu-link {
	letter-spacing: -0.02em;
	color: #878b8e;
}

.lk__user-info {
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-bottom: 10px;
}

.lk__user-header {
	display: flex;
	gap: 20px;
	align-items: center;
}

.lk__user-photo {
	border-radius: 50%;
	width: 95px;
	height: 95px;
	object-fit: cover;
	overflow: hidden;
}

.lk__user-name {
	font-size: 30px;
	letter-spacing: -0.07em;
}

.lk__user-title {
	letter-spacing: -0.02em;
	color: rgba(136, 119, 136, 0.72);
}

.lk__user-info-items {
	display: flex;
	flex-direction: column;
	gap: 24px;
	letter-spacing: -0.02em;
}

.lk__user-item {
	display: flex;
	gap: 16px;
}

.lk__user-item:first-child {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.lk__user-item span {
	color: #878b8e;
}

.lk__sertificates {
	letter-spacing: -0.02em;
}

.lk__title {
	font-size: 24px;
	letter-spacing: -0.07em;
}

.lk__btn {
	border-radius: 8px;
	padding: 16px 24px;
	font-size: 14px;
	color: #000;
	letter-spacing: -0.02em;
}

.lk__sertificates-add {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
}

.lk__sertificates-add:hover {
	border: 1px solid rgba(0, 0, 0, 1);
}

.lk__sertificates-header {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	margin-bottom: 22px;
}

.lk__sertificates-info {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: start;
	background: rgba(235, 51, 1, 0.01);
}

.lk__sertificates-num {
	font-size: 14px;
	line-height: 114%;
	letter-spacing: -0.02em;
	color: #878b8e;
	margin-bottom: 8px;
}

.lk__sertificates-title {
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: #eb3301;
}

.lk__sertificates-deadlines {
	display: flex;
	gap: 16px;
}

.lk__sertificates-date,
.lk__sertificates-status {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-weight: 400;
	font-size: 12px;
	color: rgb(0, 0, 0, 0.4);
}

.lk__sertificates-date span,
.lk__sertificates-status span {
	color: #000;
}

.lk__sertificates-edit,
.lk__balance-btn,
.lk__btn-grey {
	border: none;
	background: #f1f1f1;
}

.lk__sertificates-edit:hover,
.lk__balance-btn:hover {
	opacity: 0.7;
}

.lk__main-content-links {
	display: none;
	justify-content: space-between;
	padding-top: 28px;
}

.lk__main-content-links a {
	color: #878b8e;
	letter-spacing: -0.02em;
}

.lk__menu-link-active,
.lk__menu-link:hover,
.lk__menu-link:active,
.lk__menu-link:focus,
.lk__main-content-links a:hover,
.request__menu-link-active,
.request__menu-link:hover,
.request__menu-link:active,
.request__menu-link:focus {
	color: #222;
}

.lk__my-tenders,
.lk__tenders-list {
	padding: 0px 123px 0px 140px;
	display: flex;
}

.lk__my-tenders .lk__main-content-top,
.lk__tenders-list .lk__main-content-top {
	padding: 33px 17px 24px 24px;
}

.lk__my-tenders .search-tenders__results,
.lk__tenders-list .search-tenders__results {
	padding: 50px 0 0 0;
}

.lk__my-tenders .search-tenders__results-filter,
.lk__tenders-list .search-tenders__results-filter {
	width: auto;
}

.lk__tenders-list .lk__main-content {
	flex: 0 1 auto;
	max-width: 100%;
}

.lk__aside {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.lk__balance-block {
	padding: 16px;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.lk__balance {
	display: flex;
	flex-direction: column;
	font-size: 24px;
	letter-spacing: -0.07em;
	margin-bottom: 5px;
}

.lk__balance span {
	font-size: 26px;
	color: #eb3301;
}

.lk__balance-test {
	border-radius: 8px;
	padding: 11px 16px;
	background: rgba(235, 51, 1, 0.04);
	font-size: 12px;
	line-height: 133%;
	letter-spacing: -0.02em;
	color: #878b8e;
	margin-bottom: 39px;
}

.lk__balance-test span {
	color: #000;
}

.lk__balance-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lk__balance-btn:hover {
	color: #000;
}

.enter-port,
.request-done {
	padding: 33px 24px 71px;
	display: flex;
	flex-direction: column;
	gap: 17px;
	align-items: center;
	text-align: center;
}

.request-done {
	padding-bottom: 46px;
}

.request-done .lk__btns-wrapper a {
	padding: 16px 24px;
	font-weight: 500;
	font-size: 14px;
}

.lk__btns-wrapper {
	display: flex;
}

.request-done .lk__btns-wrapper {
	gap: 4px;
}

.lk__descr {
	font-weight: 400;
	line-height: 140%;
	color: #000;
}

.lk__btn-red {
	padding: 12px 56px;
	font-weight: 400;
	font-size: 12px;
	color: #fff;
	background: #eb3301;
}

.lk__btn-red:hover {
	color: #fff;
	opacity: 0.7;
}

.create-tender {
	padding: 33px 24px 22px;
	text-align: center;
}

.create-tender__descr {
	padding: 17px 24px 39px;
}

.create-tender__items {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.create-tender__item {
	border-right: 1px solid #ededed;
	border-radius: 16px;
	padding: 16px 8px;
	background: #f6f6f6;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.lk__title-second {
	font-size: 20px;
	letter-spacing: -0.04em;
	color: #000;
}

.lk__title-third {
	font-size: 18px;
	letter-spacing: -0.07em;
	color: #222;
}

.aside-item {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.aside-item__descr {
	font-size: 14px;
	line-height: 114%;
	letter-spacing: -0.02em;
	color: #878b8e;
}

.request__block {
	padding: 33px 24px 40px;
}

.request__body {
	margin-top: 27px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.request__title {
	text-align: center;
	font-weight: 400;
	font-size: 10px;
	color: #000;
	margin-bottom: 16px;
}

.request__info {
	width: 100%;
}

.request__info-items {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.request__info-item {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: start;
}

.request__info-name {
	font-size: 10px;
}

.request__info-value {
	font-size: 8px;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	background: #f8f8f8;
	border: none;
}

.request__btns {
	display: flex;
	gap: 4px;
	justify-content: end;
}

.request__btns {
	margin-top: 50px;
}

.request__btns a {
	padding: 16px 24px;
	font-size: 14px;
	line-height: 114%;
	letter-spacing: -0.02em;
}

.request__btns a:hover {
	opacity: 0.7;
}

.lk__btn-grey:hover {
	color: #000;
}

.request__elements {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.request__table {
	border: 0.69px solid #ececec;
	border-radius: 11px;
	padding: 5px 10px;
}

.request__table-caption {
	padding: 5px 0px;
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	color: #000;
	background: #f4f4f4;
}

.request__table th,
.request__table td {
	font-weight: 400;
	font-size: 8px;
}

.request__table th {
	color: rgba(0, 0, 0, 0.4);
}

.request__table td {
	color: #000;
}

.request__table .table > :not(:last-child) > :last-child > *,
.request__table .table > :not(caption) > * > * {
	border-bottom: none;
}

.request__checkbox-block {
	margin: 16px 0 26px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.request__checkbox-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.69px solid #dedede;
	padding: 5px 0px;
}

.request__checkbox-item .request__info-name {
	font-weight: 400;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.4);
}

.request__checkbox-right {
	width: 100px;
}

.request__checkbox-right p {
	font-weight: 400;
	font-size: 10px;
	color: #000;
}

.request__checkbox-right input {
	height: 16.5px;
	width: 16.5px;
	border-radius: 3px;
	accent-color: #eb3301;
}

@media (min-width: 450px) {
	.request__checkbox-right {
		width: 160px;
	}

	.lk__security-block img {
		width: 373px;
	}
}

@media (min-width: 576px) {
	.lk__data,
	.lk__security {
		padding: 0;
		width: 540px;
		margin: 0 auto;
		flex-direction: column;
	}

	.lk__user-name {
		font-size: 40px;
	}

	.lk__sertificates-header {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}

	.request__body {
		flex-direction: row;
	}

	.request__menu-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.lk__request-purchase .request__btns {
		margin-top: 124px;
	}

	.lk__request-notice .request__btns {
		margin-top: 80px;
	}

	.request__block {
		padding: 33px 40px 40px 24px;
	}

	.request__checkbox-right {
		width: 100px;
	}
}

@media (min-width: 768px) {
	.lk__data,
	.lk__security {
		padding: 0;
		width: 720px;
		margin: 0 auto;
		flex-direction: column;
	}

	.enter-port {
		padding: 33px 225px 71px;
	}

	.request-done {
		padding: 33px 150px 46px;
	}

	.create-tender__descr {
		padding: 17px 150px 39px;
	}

	.request__checkbox-right {
		width: 200px;
	}
}

@media (min-width: 992px) {
	.lk__data,
	.lk__security {
		width: 960px;
		gap: 0;
		flex-direction: row;
	}

	.lk__security .lk__aside {
		margin-top: 0px;
	}

	.lk__menu-list {
		display: flex;
	}

	.lk__menu-title {
		display: none;
	}

	.lk__data .lk__menu,
	.lk__security .lk__menu {
		margin-right: 20px;
	}

	.lk__main-content {
		min-height: 89vh;
		margin-right: 16px;
	}

	.lk__enter-portal .lk__main-content,
	.lk__request-done .lk__main-content {
		margin-right: 0;
	}

	.lk__main-content-links {
		display: flex;
	}

	.lk .header__logo {
		width: 100%;
	}

	.lk__balance-block {
		margin-top: 0px;
	}

	.enter-port,
	.request-done,
	.create-tender,
	.request__block {
		margin-top: 0;
	}

	.create-tender__items {
		flex-direction: row;
	}

	.create-tender__item {
		width: 100%;
	}

	.create-tender__item img {
		width: 162px;
		height: 110px;
	}
}

@media (min-width: 1200px) {
	.lk__data,
	.lk__security {
		width: 1140px;
	}

	.lk .header__logo {
		width: 196px;
		height: 48px;
	}

	.lk__balance span {
		font-size: 31px;
	}

	.request-done {
		padding: 33px 225px 46px;
	}

	.create-tender__descr {
		padding: 17px 225px 39px;
	}

	.request__info-items {
		gap: 6px;
	}

	.request__info-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.request__info-value {
		width: 387px;
	}

	.request__checkbox-right {
		width: 387px;
	}
}

@media (min-width: 1400px) {
	.lk__data,
	.lk__security {
		padding: 0px 49px 0px 140px;
		margin: 0;
		width: auto;
	}

	.lk__balance span {
		font-size: 32px;
	}
}

/* Andrey start */
.lk__my-tender .lk__main-content,
.lk__active-tender .lk__main-content,
.lk__favorites-tender .lk__main-content {
	margin-right: 0;
}

/* .search-tenders__results--lk start */
.search-tenders__results--lk .search-tenders__results-list {
	width: calc(100% - 200px - 30px);
}
.search-tenders__results--lk .search-tenders__results-filter {
	width: 200px;
}
.search-tenders__results--lk .search-tenders__results-law,
.search-tenders__results--lk .search-tenders__results-object,
.search-tenders__results--lk .search-tenders__results-client,
.search-tenders__results--lk .search-tenders__results-price,
.search-tenders__results--lk .search-tenders__results-col-name {
	font-size: 8px;
}
.search-tenders__results--lk .search-tenders__results-num {
	font-size: 16px;
}
.search-tenders__results--lk .search-tenders__results-status,
.search-tenders__results--lk .search-tenders__results-object-name,
.search-tenders__results--lk .search-tenders__results-client-name,
.search-tenders__results--lk .search-tenders__results-col-value {
	font-size: 10px;
}
.search-tenders__results--lk .search-tenders__results-price-value {
	font-size: 14px;
}
.search-tenders__results--lk .search-tenders__results-key {
	border-width: 1px;
	background-size: 8px;
}
.search-tenders__results--lk .search-tenders__results-print {
	background-size: 12px;
}
.search-tenders__results--lk .search-tenders__results-key,
.search-tenders__results--lk .search-tenders__results-print {
	width: 12px;
	height: 12px;
}
.search-tenders__results--lk .search-tenders__results-filter h4 {
	padding-bottom: 12px;
	font-size: 13px;
}
.search-tenders__results--lk
	.search-tenders__results-filter-parameters
	summary {
	padding: 16px 0;
	font-size: 10px;
}
.search-tenders__results--lk
	.search-tenders__results-filter-parameters
	summary::after {
	background-size: 18px;
	width: 18px;
	height: 18px;
}
.search-tenders__results--lk .search-tenders__results-filter-title {
	padding-bottom: 2px;
	font-size: 10px;
}
.search-tenders__results--lk
	.search-tenders__results-filter-switches
	label
	span {
	padding-left: 20px;
	font-size: 8px;
}
.search-tenders__results--lk
	.search-tenders__results-filter-switches
	label
	span::before {
	width: 12px;
	height: 12px;
	background-size: 10px;
}
.search-tenders__results--lk
	.search-tenders__results-filter-switches
	label
	+ label {
	padding-top: 0;
}
.search-tenders__results--lk .search-tenders__results-filter-link {
	font-size: 8px;
}
.search-tenders__results--lk .search-tenders__results-filter-subtitle,
.search-tenders__results--lk .choices__inner,
.search-tenders__results--lk .choices__list--dropdown .choices__item,
.search-tenders__results--lk .choices__list[aria-expanded] .choices__item,
.search-tenders__results--lk .search-tenders__results-filter-wrap input {
	font-size: 10px;
}
.search-tenders__results--lk
	.search-tenders__results-filter-wrap
	.choices__inner {
	min-height: 0;
	padding: 4px;
}
.search-tenders__results--lk .search-tenders__results-filter-wrap input {
	padding: 4px 10px;
}
.search-tenders__results--lk {
	padding: 40px 0 0;
}
.search-tenders__results--lk .search-tenders__results-list {
	padding-bottom: 0;
}
@media screen and (max-width: 1199px) {
	.search-tenders__results--lk {
		flex-direction: column-reverse;
		gap: 30px;
	}
	.search-tenders__results--lk .search-tenders__results-list,
	.search-tenders__results--lk .search-tenders__results-filter {
		width: 100%;
	}
	.search-tenders__results--lk .search-tenders__results-filter {
		position: static;
	}
}
/* .search-tenders__results--lk end */

@media screen and (min-width: 1200px) {
	.lk__my-tender .lk__main-content-links {
		margin-right: 254px;
	}
}

.lk__active-tender .search-tenders__results-list,
.lk__favorites-tender .search-tenders__results-list {
	width: 100%;
}

@media screen and (min-width: 992px) {
	.lk__active-tender .lk__main-content,
	.lk__favorites-tender .lk__main-content {
		max-width: 712px;
	}
}



/* ЛК поставщики */

.lk__menu-btn {
	margin-left: 12px;
	cursor: pointer;
}

.lk__menu-hidden {
	display: none;
}

.lk__exit {
	padding: 16px 25px 11px;
	border-radius: 16px;
	background: #f1f1f1;
	margin-top: 50px;
}

.lk__exit-user {
	display: flex;
	gap: 6.5px;
	align-items: center;
}

.exit-user__img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	overflow: hidden;
}

.exit-user__img img {
	object-fit: cover;
}

.lk__exit-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	line-height: 150%;
	letter-spacing: -0.02em;
	color: #878b8e;
	margin-top: 10px;
}

.lk__exit-btn:hover {
	color: #222;
}

.lk__exit-btn:hover svg path {
	stroke: #222;
}

.lk__info-count {
	padding: 24px;
}

.lk__info-count {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	gap: 20px;
	font-size: 14px;
	line-height: 114%;
	letter-spacing: -0.02em;
	color: #878b8e;
}

.lk__info-count span {
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: #eb3301;
}

.lk__info-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sup__table {
	margin-top: 22px;
	font-size: 11px;
	line-height: 145%;
	letter-spacing: 0.01em;
	color: #1a1a1f;
}

.sup__table th {
	border: none;
}

.sup__table-btn {
	margin-top: 10px;
	border: 1px solid #eb3301;
	border-radius: 8px;
	padding: 12px 16px;
	background-color: transparent;
	font-size: 12px;
	color: #eb3301;
}

.sup__table-btn:hover {
	opacity: .7;
}

.sup__import-data,
.sup__process-finish {
	margin-top: 5px;
}

.sup__table a {
	font-size: 11px;
	line-height: 145%;
	letter-spacing: 0.01em;
	color: #1a1a1f;
}

.sup__table a:hover {
	opacity: .7;
}

.sup__visit .sup__table-btn,
.sup__events .sup__table-btn {
	margin-top: 22px;
}

.sup__visit-status {
	border-radius: 6px;
	padding: 2px 4px;
	background: rgba(192, 192, 204, 0.24);
	text-align: center;
}

.date-label {
	display: flex;
	align-items: center;
	gap: 4px;
}

.sup__report-items,
.sup__integration-items {
	margin-top: 22px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.sup__report-items {
	padding-bottom: 12px;
}

.sup__report-item,
.sup__integration-item {
	padding: 8px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

.sup__report-file,
.sup__integration-file
 {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #000;
}

.sup__report-file:hover,
.sup__integration-file:hover {
	color: #000;
	opacity: .7;
}


.sup__descr {
	margin-top: 16px;
	font-size: 14px;
	line-height: 114%;
	letter-spacing: -0.02em;
	color: #878b8e;
}

.sup__btns {
	margin-top: 22px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.sup__btn {
	padding: 12px 21px;
	border: 1px solid #eb3301;
	border-radius: 8px;
	background-color: transparent;
	font-size: 12px;
	color: #000;
}

.lk__block-group {
	margin-bottom: 11px;
}

.sup__btns-red {
	gap: 16px;
}

.sup__btn-red {
	color: #eb3301;
}

.sup__checkboxes {
	margin-top: 16px;
}

.sup__checkbox-item {
	padding: 8px;
	border-bottom: 1px solid #ebebf2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sup__checkbox-item:first-child {
	border-bottom: none;
}

.sup__checkbox-wrap {
	display: flex;
	align-items: center;
}

.sup__checkbox-wrap label {
	font-weight: 400;
	font-size: 11px;
	line-height: 145%;
	letter-spacing: 0.01em;
	color: #4a494f;
}

.sup__checkbox-wrap .date-label__grey {
	color: #6f6f7c;
}

.sup__checkboxes input[type="checkbox"],
.modal-password__wrapper input[type="checkbox"] {
	display: none;
}

.sup__checkboxes input[type="checkbox"] + *::before,
.modal-password__wrapper input[type="checkbox"] + *::before {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1.60px;
	border-color:  #a4a4b2;
	margin-right: 16px;
}

.modal-password__wrapper input[type="checkbox"] + *::before {
	margin-right: 10px;
}

.sup__checkboxes input[type="checkbox"]:checked + *::before {
	content: "✓";
	color: white;
	text-align: center;
	background: #ffba30;
	border-color: #ffba30;
}

.modal-password__wrapper input[type="checkbox"]:checked + *::before {
	content: "✓";
	color: white;
	text-align: center;
	background: #eb3301;
	border-color: #eb3301;
	font-size: 12px;
}

.sup__checkboxes .date-label {
	gap: 0;
}

.sup__btn-more {
	border: none;
	background-color: transparent;
}

.sup__btns-center {
	justify-content: center;
}

.integration__tablist-items {
	margin: 20px 0 8px;
	display: flex;
	gap: 20px;
}

.integration__tablist-items li {
	position: relative;
	padding-bottom: 12px;
	font-weight: 600;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: -0.02em;
	text-align: center;
	color: #6f6f7c;
	cursor: pointer;
}

.integration__tablist-items li:hover, 
.integration__tablist-items li[aria-selected="true"] {
    color: #222;
}

.integration__tablist-items li::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #ffba30;
    opacity: 0;
    transition: 0.3s;
}

.integration__tablist-items li:hover::before, 
.integration__tablist-items li[aria-selected="true"]::before {
    opacity: 1;
}

.integration__tablist-tabs {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.integration__tablist-tabs li {
	border-radius: 38px;
	padding: 6px 10px;
	background: #f1f1f1;
	font-size: 12px;
	line-height: 133%;
	color: #1a1a1f;
	cursor: pointer;
}

.lk__block-border {
	border: 1px solid rgba(135, 139, 142, 0.2);
}

.overlay {
	padding: 15px;
    display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, .7);
}

.sup__modal {
	padding: 24px;
	border-radius: 16px;
	background: #fff;
	max-width: 100%;
}

.sup__modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}
 
.sup__modal .lk__title {
	text-align: center;
}

.sup__modal-input {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(2, auto);
	gap: 8px;
}

.sup__modal-input label {
	line-height: 150%;
	letter-spacing: -0.02em;
}

.sup__modal-btns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	justify-content: center;
}

.sup__modal-input input {
	height: 55px;
	border-radius: 8px;
	padding: 16px 24px;
	border: none;
	background: #f6f6f6;
}

.sup__modal-btns button {
	border-radius: 8px;
	width: 100%;
	padding: 11px;
	font-weight: 400;
	font-size: 18px;
	line-height: 133%;
}

.sup__modal-btns button:first-child {
	border: none;
	background: #eb3301;
	color: #fff;
}

.sup__modal-cancel {
	border: 1px solid #eb3301;
	background-color: transparent;
	color: #222;
}

.sup__modal-btns button:hover {
	opacity: .7;
}

.sup__modal-download {
	width: 100%;
	border: 1px dashed #b1aeb8;
	border-radius: 16px;
	padding: 48px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sup__modal-download input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}

.sup__modal-download label {
	display: flex;
	gap: 4px;
	font-size: 12px;
	line-height: 133%;
	color: #b1aeb8;
	cursor: pointer;
}

.sup__modal-download label:hover {
	color: #222;
}

.sup__modal-download label:hover svg path {
	stroke: #222;
}

.modal-password__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-password__wrapper .sup__checkbox-wrap label,
.modal-password__wrapper a {
	font-weight: 400;
	font-size: 13px;
	line-height: 144%;
	color: #222;
}

.modal-password__wrapper .sup__checkbox-wrap label {
	gap: 0;
}

.modal-password__wrapper a:hover {
    text-decoration: underline;
}

.modal-input__wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


#directory,
#unscrupulous,
#organization,
#gpms,
#addDetails {
	display: none;
}

.overlay {
	display: none;
}


@media screen and (min-width: 576px) {
	.lk__info-count {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}

	.sup__modal {
		padding: 24px 40px 49px;
	}

	.sup__modal-input {
		grid-template-columns: repeat(2, 1fr);
	}

	.sup__modal-btns {
		display: flex;
		gap: 16px;
		justify-content: center;
	}

	.sup__modal-btns button {
		width: 145px;
	}
	
}

@media screen and (min-width: 992px) {
	.lk__exit-btn {
		justify-content: center;
	}

	.lk__exit {
		margin-top: 80px;
	}

	.sup__modal {
		max-width: 771px;
	}
}

.open-menu {
	display: flex;
}